*{
    box-sizing: border-box;
}

body{
    background-color: gray;
    background-color: #ADD8E6;
}

.swiper-slide {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}  

img{
    max-height: 600px;
}