*{
    box-sizing: border-box;
}

body{
    background-color: gray;
    background-color: #ADD8E6;
}

.about-me{
    font-family: 'Petemoss', cursive;
    font-size: 2rem;
    text-align: center;
}

.gallery-img{
    max-height: 600px;
    display: none;
    padding: 0;
    border: 3px #000080;
    border-style: groove;
    border-radius: 15px;
}

.active{
    display: block;
}

.image-gallery{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.prev{
    margin-right: 15px;
}

.btn:disabled{
    background-color: #777;
    cursor: not-allowed;
}